.body {
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 10px;
}
.linkToStyle {
   text-decoration: none;
   border-radius: 5px;
   padding: 5px;
   color: rgb(0, 0, 0);
   background-color: rgba(97, 97, 98, 0.185);
   box-shadow: 0 1px 20px rgba(7, 14, 241, 0.529), 0 10px 12px rgba(0, 0, 0, 0.22);
}
.accorHeaderContents {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   width: 100%;
}
.accorHeaderContents p {
   text-align: center;
   font-size: 5vw;
}
.accorHeaderContents p:first-child {
   font-weight: 700;
}
.accorHeaderContents p:last-child {
   font-size: 3vw;
}

@media only screen and (min-width: 720px) {
   .accorHeaderContents p {
      text-align: center;
      font-size: 3vw;
   }
   .accorHeaderContents p:first-child {
      font-weight: 700;
   }
   .accorHeaderContents p:last-child {
      font-size: 2vw;
   }
}
   
