.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
.container img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.container a {
    background-color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.container a:hover{
    color: white;
    background-color:rgb(46, 43, 43);
}