.searchButton {
    border-radius: 10px;
    width: 100%;
    border: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.23);
    filter: invert(100);
}
.searchButton img{
    width: 30px;
}

/* -- Modal --*/

.modalHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalBody {
    background-color: rgb(192, 192, 192);
}
.searchInput {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(228, 227, 227);
}
.linkToStyle {
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
 }
.linkToStyle:hover {
    background-color: rgb(46, 43, 43);
    color: white;
}

/*--- Media queries ---*/

/* @media only screen and (max-width: 720px) {
    .searchButton {
        border-radius: 10px;
        border: 0;
        width: 30px;
        font-size: 0;
        padding: 0;
    }

} */