.container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.navigation {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    border-bottom: 2px solid;
    animation: changeColor 1s infinite linear;
    animation-direction: alternate;
}
.navigation a {
    text-decoration: none;
    color: white;
}
.navigation a:hover {
    text-decoration: none;
    color: white;
}
.content {
    background-color: white;
}
.navLink {
    padding: 10px;
    border-radius: 10px;
}
.navLink:hover {
    background-color:rgb(46, 43, 43);
}

.activeNavLink {
    background-color:rgb(46, 43, 43);
    padding: 10px;
    border-radius: 10px;
}
.footer {
    text-align: center;
    color: white;
    background-color: black;
}
.footer a {
    background-color: transparent;
    color: purple;
}
.footer a:hover {
    color: red;
}
.linkToStyle {
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
 }
.linkToStyle:hover {
    background-color: rgb(46, 43, 43);
}
.searchAndTheme {
    display: flex;
    gap: 5px;
    margin-right: 5px;
    
}
.searchAndTheme button:hover {
    background-color:white;
}
.searchAndTheme button {
    border-radius: 30px;
    border: none;
    width: 150px;
}
.searchAndTheme .lightsOn  {
    border-radius: 10px;
    border: none;
    width: 30px;
    font-size: 0;
    padding: 0;
}
.searchAndTheme .lightsOff  {
    border-radius: 10px;
    border: none;
    width: 30px;
    font-size: 0;
    padding: 0;
}
@keyframes changeColor {
    from {color: red}
    to {color: blue}
}

/* -- Modal --*/

.ModalHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchInput {
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

/*--- Media queries ---*/
@media only screen and (max-width: 720px) {
    .searchAndTheme .searchButton {
        border-radius: 10px;
        border: none;
        width: 30px;
        font-size: 0;
        padding: 0;
    }
}
