.container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.navigation {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    border-bottom: 2px solid;
    animation: changeColor 1s infinite linear;
    -webkit-animation: changeColor 1s infinite linear;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 3;
}
.navigation a {
    text-decoration: none;
   
}
.navigation a:hover {
    text-decoration: none;
    color: white;
}

.navLink {
    padding: 10px;
    border-radius: 10px;
}
.navLink:hover {
    background-color:rgb(46, 43, 43);
}

.activeNavLink {
    background-color:rgb(46, 43, 43);
    padding: 10px;
    border-radius: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: black;
    border-top: 1px solid rgba(255, 255, 255, 0.23);
    padding: 0.5rem;
    border-top: 1px solid rgba(129, 129, 129, 0.5);
}
.footer p {
    margin: 0;
}
.footer a {
    background-color: transparent;
    color: purple;
}
.footer a:hover {
    color: red;
}

.searchAndTheme {
    display: flex;
    gap: 5px;
    margin-right: 5px;
}
.searchAndTheme button {
    display: flex;
}
.searchAndTheme img {
    width: 30px;
    height: 30px;
}
.searchAndTheme .lightsOn {
    border-radius: 10px;
    border: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.23);
    filter: invert(100);
}
.searchAndTheme .lightsOff {
    border-radius: 10px;
    border: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.23);
}
@keyframes changeColor {
    from {color: red;}
    to {color: blue;}
}



